/* Personaje.css */

/* KEYFRAME para animación de entrada de página */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-in-page {
    animation: slideIn 1s ease-out;
    /* Animación de entrada de página */
}

.personaje-perfil {
    display: flex;
    gap: 40px;
    max-width: var(--max);
    margin: 50px auto;
    padding: 0 28px;
    align-items: flex-start;
}

.personaje-imagen {
    flex: 0 0 400px;
    height: 500px;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.personaje-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personaje-info h1 {
    font-family: var(--font-display);
    font-size: 3.5rem;
    color: var(--accent);
    margin-bottom: 10px;
}

.personaje-info p {
    color: var(--muted);
    font-size: 1.1rem;
    margin-bottom: 20px;
}

/* ESTILO PARA BOTÓN VOLVER */
.back-btn {
    background: var(--card);
    border: 1px solid var(--muted);
    color: var(--muted);
    margin: 20px auto 50px;
    display: block;
    width: 250px;
    text-align: center;
    transition: 0.2s;
}

.back-btn:hover {
    background: var(--accent);
    color: var(--bg);
    border-color: var(--accent);
}


/* RESPONSIVE */
@media (max-width: 900px) {
    .personaje-perfil {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .personaje-imagen {
        flex: 0 0 auto;
        width: 80%;
        max-width: 400px;
        height: 400px;
    }
}

@media (max-width: 600px) {
    .personaje-info h1 {
        font-size: 2.5rem;
    }
}